<%- include('../../fragments/header.ejs'); %>

<form class="form jsForm" method="POST">
    <div class="form__row">
        <label class="form__cell _label" for="name">Name</label>
        <input class="form__cell jsName" type="text" name="name" id="name" placeholder="<%= employee.name %>">
    </div>
    <div class="form__row">
        <label class="form__cell _label" for="surname">Surname</label>
        <input class="form__cell jsSurname" type="text" name="surname" id="surname" placeholder="<%= employee.surname %>">
    </div>
    <div class="form__row">
        <label class="form__cell _label" for="gender">Gender</label>
        <input class="form__cell jsGender" type="text" name="gender" id="gender" placeholder="<%= employee.gender %>">
    </div>
    <div class="form__row">
        <label class="form__cell _label" for="age">Age</label>
        <input class="form__cell jsAge" type="text" name="age" id="age" placeholder="<%= employee.age %>">
    </div>
    <div class="form__row">
        <label class="form__cell _label" for="department">Department</label>
        <input class="form__cell jsDepartment" type="text" name="department" id="department" placeholder="<%= employee.department %>">
    </div>
    <div class="form__row">
        <button class="form__button" type="submit">Submit</button>
    </div>
</form>
<script src="/src/public/formValidation.js"></script>
<%- include('../../fragments/footer.ejs'); %>
