<%- include('../../fragments/header.ejs'); %>

<div class="line _bordered">
    <a href="/employees/add">Add</a>

</div>

<div class="line _table">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Department</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% employees.forEach(employee => { %>
                    <tr>
                        <td><%= employee.name %></td>
                        <td><%= employee.surname %></td>
                        <td><%= employee.gender %></td>
                        <td><%= employee.age %></td>
                        <td><%= employee.department %></td>
                        <td class="action">
                            <a class="action__jsEdit" data-id="<%= employee.id %>" href="">Edit</a> |
                            <a class="action__jsDelete" data-id="<%= employee.id %>" href="">Delete</a>
                        </td>

                    </tr>
                <% }); %>
            </tbody>
        </table>
</div>
<script src="/buttonsListeners.js">
</script>
<%- include('../../fragments/footer.ejs'); %>
